/********************** Google font**************************/

/******************** Responsive ****************/
@media(min-width: 200px) and (max-width: 1800px){

*{
    box-sizing: border-box;
}

    img,
	blockquote,
	.text,
	input,
	iframe,
	video {
		max-width: 100%;
	}

    header,footer,div,section,.rect,#Japon,#Thailande,#Inde.images,img{
		height: auto;
        width: auto;
	}

    .text,
	h1,
    div
	td,
	th,
	code,
	p,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}

    html {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
     
/********************* CSS *******************/
body{
    color:white;
    font-family: 'Caveat Brush', cursive;
    margin:0;
    width: auto;
    padding: 0;	
}

/************************ Header *****************************/
header{
     background: linear-gradient(rgb(45, 253, 149), rgb(34,193,195));
}

.pres{
    display:flex; 
}

.logo_voyage{
    display: flex;
}

.logo_voyage img{
    height:90px;
    width:90px;
}

marquee{
    border: 1px solid white;
    height:22px;
}

.rect{
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

nav{
    position: absolute;
    top : 40px;
    right: 24px ;
}

nav a{
    margin: 30px;
    font-size: 14px;
    text-decoration: none;
    color:white;
}

.inlineB{
    display: inline-block;
}
/************************ FIN du Header *****************************/

/************************************* MAIN *************************************************/

/************Rectangle pour les 3 pays**********/
#Japon,#Thailande,#Inde{
    height: 400px;
    width: 1000px;
    margin: 15px;
    padding: 30px;
    display:flex;
    flex-direction: row;
    border-radius: 3%;
    align-items: center;
    font-size: 15px;
}

/************Mise en forme pour chaque pays**********/

/************ Japon *************/

#Japon{
    justify-content: left;
    background: linear-gradient(rgb(86,166,241),rgb(191,129,148));
}

#Japon .text, #Inde .text{
    margin-left:90px;
}

#Thailande .text{
    margin-right:90px;
}

#Japon h1,#Japon p{
    text-align: left;
}

/************ Thailande *************/
#Thailande {
    justify-content: center;
    background: linear-gradient(rgb(70,134,195),rgb(97,227,194));
}

#Thailande h1,#Thailande p{
    text-align: center;
}

/************ Inde *************/
#Inde{
    justify-content: right;
    background: linear-gradient(rgb(92,144,181),rgb(226,132,23));
}

#Inde h1,#Inde p{
    text-align: right;
}

.images{
    display: flex;
    margin: 5%;
    align-items: center;
}

.images img{
    border-radius: 50% 50% 50% 50%;
    height: 300px; 
    width: 300px;
}
/************************************** FIN DU MAIN ************************************/

/*************************************** FOOTER ******************************************/
footer{
    background: linear-gradient(rgb(34,193,195),rgb(45, 253, 149));
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.inlineC ul,footer p{
    display: flex;
}

.inlineC ul li{
    list-style-type: none;
    margin:10px;
    color: white;
}

}